.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    padding: 40px;
    width: 400px;
  }
  
  .form-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-header h2 {
    font-size: 2rem;
    color: #333;
  }
  
  .form-input {
    margin-bottom: 20px;
  }
  

  
  .form-input input {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
    color: #333;
  }

  .error {
    color: red;
    margin-top: 5px;
    animation: shake 1.5s infinite;
  }
  
  @keyframes shake {
    0% {
      transform: translateX(0px);
    }
    25% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(0px);
    }
    75% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  
  .button-login {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-login:hover {
    background-color: #555;
  }